.landing-wrapper{
    background-color: #00bfa5;
    height: 222px;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 1;
}
.background{
    display: flex;
    justify-content: center;
    background-color: rgb(201, 201, 200);
    height:100vh;
    top:120px;
    position: relative;
}
.logo{
    position: relative;
    top: 100px;
}
.logo-text{
    font-family: 'Montserrat', sans-serif;
    font-size: 22px;
    font-weight: bold;
    color: rgb(255, 255, 255);
}

  .todo-title{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    font-size: 20px;
    color: #03b69e;
    font-weight: bold;
    padding: 1rem;
    width: 100%;
  }

  .todo-body{
    display: flex;
    flex-direction: column;
    padding: 2rem;
  }
  .todo-body div{
    padding: 1rem;
    color: green;
    font-weight: bold;
  }
  .font-bg{
    font-size: 30px !important;
  }

tbody {
    display: block;
    height: 600px;
    overflow: auto;
}
thead, tbody tr {
    display: table;
    width: 100%;
    table-layout: fixed;/* even columns width , fix width of table too*/
}
thead {
    width: calc( 100% - 1em )/* scrollbar is average 1em/16px width, remove it from thead width */
}
table {
    width: 100%;
}
/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
.bg-grey{
  background: gainsboro !important;
}
.modal-footer{
  justify-content: center !important;
}

/* Delete Modal  */
.modal-confirm {		
  color: #636363;
  width: 400px;
}
.modal-confirm .modal-content {
  padding: 20px;
  border-radius: 5px;
  border: none;
  text-align: center;
  font-size: 14px;
}
.modal-confirm .modal-header {
  border-bottom: none;   
  position: relative;
}
.modal-confirm h4 {
  text-align: center;
  font-size: 26px;
  margin: 30px 0 -10px;
}
.modal-confirm .close {
  position: absolute;
  top: -5px;
  right: -2px;
}
.modal-confirm .modal-body {
  color: #999;
}
.modal-confirm .modal-footer {
  border: none;
  text-align: center;		
  border-radius: 5px;
  font-size: 13px;
  padding: 10px 15px 25px;
}
.modal-confirm .modal-footer a {
  color: #999;
}		
.modal-confirm .icon-box {
  width: 80px;
  height: 80px;
  margin: 0 auto;
  border-radius: 50%;
  z-index: 9;
  text-align: center;
  border: 3px solid #f15e5e;
}
.modal-confirm .icon-box i {
  color: #f15e5e;
  font-size: 46px;
  display: inline-block;
  margin-top: 13px;
}
.modal-confirm .btn {
  color: #fff;
  border-radius: 4px;
  background: #60c7c1;
  text-decoration: none;
  transition: all 0.4s;
  line-height: normal;
  min-width: 120px;
  border: none;
  min-height: 40px;
  border-radius: 3px;
  margin: 0 5px;
  outline: none !important;
}
.modal-confirm .btn-info {
  background: #c1c1c1;
}
.modal-confirm .btn-info:hover, .modal-confirm .btn-info:focus {
  background: #a8a8a8;
}
.modal-confirm .btn-danger {
  background: #f15e5e;
}
.modal-confirm .btn-danger:hover, .modal-confirm .btn-danger:focus {
  background: #ee3535;
}
.trigger-btn {
  display: inline-block;
  margin: 100px auto;
}
#mob-btn{
  display: none !important;
}

@media (max-width: 576px) {
  #mob-btn{
    display: inline-block !important;
  }
  table th,td{
    font-size: 12px !important;
    text-align: center;
  }
  table{
    table-layout: fixed;
  }
  table th{
    padding: 0.2rem;
  }
  #hideblock{
    display: none !important;
  }
  .modal-content{
    width: 90% !important;
  }
}



