<div>
  <div class="landing-wrapper">
    <div class="logo">
        <div class="container-fluid d-flex" style="align-items: center;">
        </div>
    </div>
  </div>
<div class="background">
    <div class="container">
        <div class="card shadow" style="z-index: 3;height: 800px;display: flex;">
          <div class="todo-title shadow">
              <span>TO DO LIST <i class="fa fa-solid fa-check-double"></i></span>
              <div>
                <button class="btn btn-sm text-success btn-warning mr-2 font-weight-bold" id="mob-btn" data-toggle="modal" data-target="#exampleModal"><i class="fa fa-plus"></i>  Create</button>
                <button class="btn btn-sm btn-light" (click)=logout()><i class="fas fa-power-off"></i></button>
              </div>
          </div>
          <div class="row">
            <div class="todo-body col-md-7">
              <table class="table table-hover" id="myTable">
                <thead>
                  <tr>
                    <th class="font-weight-bold text-danger">#</th>
                    <th>Tasks</th>
                    <th>Priority</th>
                    <th class="text-success">Done</th>
                    <th class="text-danger font-weight-bold">Remove</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let data of task_list; let i = index">
                    <div *ngIf="data.isCompleted;then content else other_content">
                    </div>
                    <ng-template #content>
                      <td class="font-weight-bold">{{i+1 }}.</td>
                      <td class="text-success font-weight-bold" data-toggle="modal" [attr.data-target]="'#'+data._id" style="font-size: 13px;">{{data["name"]}}</td>
                      <td class="text-danger font-weight-bold">{{data["level_of_priority"]}}</td>
                      <td><input type="checkbox" class=" ml-4" checked (click)=showCheck(data._id)></td>
                      <td><button class="btn btn-sm" data-toggle="modal" [attr.data-target]="'#myModal'+data._id"><i class="fa fa-trash"></i></button></td>
                    </ng-template>
                    <ng-template #other_content>
                      <td class="bg-grey font-weight-bold">{{i+1 }}.</td>
                      <td class="bg-grey text-secondary font-weight-bold" data-toggle="modal" [attr.data-target]="'#'+data._id" style="font-size: 13px;">{{data["name"]}}</td>
                      <td class="text-danger bg-grey font-weight-bold">{{data["level_of_priority"]}}</td>
                      <td class="bg-grey"><input type="checkbox" class=" ml-4" (click)=showCheck(data._id)></td>
                      <td class="bg-grey"><button class="btn btn-sm text-danger"  data-toggle="modal" [attr.data-target]="'#myModal'+data._id"><i class="fa fa-trash"></i></button></td>
                    </ng-template>
                  </tr>
                </tbody>
              </table>
            </div>
            <div class="col-md-5 p-4" id="hideblock">
              <div class="shadow">
                <div class="card-header text-success font-weight-bold">
                  Add New Task &nbsp; <i class="fas fa-plus"></i>
                </div>
                <div class="card-body">
                  <form method="post" class="form" #taskForm="ngForm" (ngSubmit)="onTask(taskForm.value)">
                    <label for="user-email" style="padding-top:13px">
                        &nbsp;Name
                      </label>
                    <input id="taskname" placeholder="Task name.." class="form-content form-control" type="text" #name="ngModel" name="name" autocomplete="on" ngModel required />
                    <div class="form-border"></div>
                    <div class="form-border"></div>
                    <label for="user-password" style="padding-top:22px">&nbsp;Priority</label>
                    <input id="user-password" class="form-content form-control" type="number" placeholder="Type priority out of five" min="1" max="5" #level_of_priority="ngModel" name="level_of_priority" ngModel required />

                    <label for="user-password" style="padding-top:22px">&nbsp;Completion Date</label>
                    <input id="user-email" class="form-content form-control" type="date" #completionDate="ngModel" name="completionDate" autocomplete="on" ngModel required />

                  <div class="form-border"></div>
                  <input id="submit-btn" type="submit"  class="btn btn-success btn-sm btn-block mt-3" name="submit" value="Add Task" />
                </form>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div *ngFor="let data of task_list; let i = index">
          <!-- Modal -->
          <div class="modal fade" id="{{data._id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content shadow">
                <div class="modal-header">
                  <h5 class="text-secondary font-weight-bold">Task Details</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body d-flex flex-column">
                  <div>
                    <label for="" class="font-weight-bold"> Task Name :</label>
                    <span class="text-info"> {{data["name"]}}</span>
                  </div>
                  <div>
                    <label for="" class="font-weight-bold"> Priority :</label>
                    <span class="text-info"> {{data["level_of_priority"]}}</span>
                  </div>
                  <div>
                    <label for="" class="font-weight-bold"> Completion Date :</label>
                    <span class="text-info"> {{data["completionDate"]}}</span>
                  </div>
                  <div>
                    <label for="" class="font-weight-bold"> Task Owner :</label>
                    <span class="text-info"> {{data["created_by"]}}</span>
                  </div>
                  <div>
                  <div *ngIf="data.isCompleted;then content else other_content">
                  </div>
                  <ng-template #content>
                    <h4 class="text-success">Done</h4>
                  </ng-template>
                  <ng-template #other_content>
                    <h4 class="text-danger">Pending</h4>
                  </ng-template>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- Modal Delete Popup -->
            <div id="myModal{{data._id}}" class="modal fade">
              <div class="modal-dialog modal-confirm">
                <div class="modal-content shadow">
                  <div class="modal-header d-block">
                    <div class="icon-box">
                      <i class="fas fa-times"></i>
                    </div>
                    <h4 class="modal-title">Are you sure?</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                  </div>
                  <div class="modal-body">
                    <p>Do you really want to delete these records? This process cannot be undone.</p>
                  </div>
                  <div class="modal-footer justify-content-center">
                    <button type="button" class="btn btn-info" data-dismiss="modal">Cancel</button>
                    <button type="button" class="btn btn-danger" (click)=delete(data._id) >Delete</button>
                  </div>
                </div>
              </div>
            </div>
          <!-- Modal Task-->
          <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="card-header text-success font-weight-bold">
                  Add New Task &nbsp; <i class="fas fa-plus"></i>
                </div>
                <div class="card-body">
                  <form method="post" class="form" #taskForm="ngForm" (ngSubmit)="onTask(taskForm.value)">
                    <label for="user-email" style="padding-top:13px">
                        &nbsp;Name
                      </label>
                    <input id="taskname" placeholder="Task name.." class="form-content form-control" type="text" #name="ngModel" name="name" autocomplete="on" ngModel required />
                    <div class="form-border"></div>
                    <div class="form-border"></div>
                    <label for="user-password" style="padding-top:22px">&nbsp;Priority</label>
                    <input id="user-password" class="form-content form-control" type="number" placeholder="Type priority out of five" min="1" max="5" #level_of_priority="ngModel" name="level_of_priority" ngModel required />

                    <label for="user-password" style="padding-top:22px">&nbsp;Completion Date</label>
                    <input id="user-email" class="form-content form-control" type="date" #completionDate="ngModel" name="completionDate" autocomplete="on" ngModel required />

                  <div class="form-border"></div>
                  <input id="submit-btn" type="submit"  class="btn btn-success btn-sm btn-block mt-3" name="submit" value="Add Task" />
                </form>
                </div>
              </div>
            </div>
          </div>
        </div>
    </div>
</div>

</div>
